services:
  db-user-container:
    container_name: db-user
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - db-user:/var/lib/postgresql/data
    networks:
      restaurant:
        ipv4_address: 148.32.2.3
  db-orders-container:
    container_name: db-orders
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - db-orders:/var/lib/postgresql/data
    networks:
      restaurant:
        ipv4_address: 148.32.2.4
  db-restaurant-container:
    container_name: db-restaurant
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - db-restaurant:/var/lib/postgresql/data
    networks:
      restaurant:
        ipv4_address: 148.32.2.5

volumes:
  db-user:
  db-restaurant:
  db-orders:

networks:
  restaurant:
    ipam:
      driver: default
      config:
        - subnet: "148.32.2.0/24"